/* CSS */


/* Applies Elements to Entire Code */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
	line-height: 1;
	background-color: #AAD4CF;
}

article {
    padding-left: 1%;
}

article p {
    padding-left: 38%;
}

h1{
    position: absolute;
    top: 30%;
    background-color: none;
    width: 100%;
    text-align: center;
    color: white;  
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 525;
}

.container{
    position: relative;
}

.wrapper {
    width: 700px;
    margin: auto;
    background-color: #D4E9E7;
}

img{
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: none;
    color: black;
    z-index: 2;
}

nav li:hover {
background-color: #555;
}

nav li {
    display: inline-block;
    width: 32%;
    text-align: center;
}

nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

nav li:nth-child(2){
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

article img {
    width: 250px;
    float: left;
}

form {
    border: 1px solid black;
}

textarea {
    resize: none;
}

h2 section{
    padding-left: 20%;
}

footer {
    text-align: right;
}