/* CSS */

body {
	line-height: 1;
	background-color: #AAD4CF;
}

h1{
    position: absolute;
    top: 30%;
    background-color: none;
    width: 100%;
    text-align: center;
    color: white;  
}

.container{
    position: relative;
}

.wrapper {
    width: 700px;
    margin: auto;
}

img{
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: none;
    color: black;
    z-index: 2;
    }


nav  ul {
    list-style-type: circle;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 32%;
    text-align: center;
}

nav li:nth-child(2){
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

article img {
    width: 250px;
    float: left;
}

form {
    border: 1px solid black;
}